html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;}

body {
  padding: 0 10px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  text-align: center;
  background-color: #f3f3f3;
}
.tab > h1 {
  padding: 15px 0;
  font-size: 28px;
}
.tab > button {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 22px;
  color: #acabab;
  border-bottom: 1px solid #bfbfbf;
  transition: .2s;
}
.tab > button:hover {
  background-color: #fdfdfd;
}
.tab > button.IsActive {
  font-weight: bold;
  color: #000;
  border: 1px solid #bfbfbf;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}
.App {
  margin-bottom: 100px;
  padding-top: 10px;
  background-color: #fff;
}
.headerTitle {
  width: 100%;
  background-color: #fff;
}
.headerTitle > button {
  width: 50%;
  padding: 10px 20px;
  font-size: 22px;
  color: #acabab;
  border: 1px solid #bfbfbf;
  background-color: #f3f3f3;
  transition: .2s;
}
.headerTitle > button:nth-of-type(2) {
  border-left: none;
}
.headerTitle > button:hover {
  background-color: #d0b8ae;
}
.headerTitle > button.IsActive {
  font-weight: bold;
  color: #fff;
  background-color: #eda184;
}
.earn,
.payment {
  display: flex;
  flex-wrap: wrap;
  background-color: #bfbfbf;
}
.earn > button,
.payment > button {
  width: calc(100% / 4);
  height: 70px;
  padding: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  border: 1px solid #bfbfbf;
  background: #fff no-repeat 50% 50%/contain;
  transition: .2s;
}
.earn > button:hover {
  background-color: #b0daee;
}
.earn > button.IsActive {
  color: #fff;
  background-color: #6eb7db;
}
.payment > button:hover {
  background-color: #f4c2d3;
}
.payment > button.IsActive {
  color: #fff;
  background-color: #df81a2;
}
form {
  background-color: #fff;
  display: flex;
  margin-bottom: 50px;
}
.formWrapper {
  width: 70%;
}
.formWrapper > div {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #bfbfbf;
}
.formWrapper > div > p {
  width: 50%;
  font-size: 22px;
}
.formWrapper > div > input {
  width: 50%;
  height: 100%;
  font-size: 22px;
  text-align: center;
}
.formWrapper > div > input:hover {
  border: 3px solid #222;
}
.date > input {
  padding: 10px 60px;
}
.money > input,
.memorandum > input {
  padding: 10px 30px;
}
.submitButton {
  display: block;
  width: 30%;
  font-size: 28px;
  color: #fff;
  background-color: #eda184;
  transition: .2s;
}
.submitButton:hover {
  opacity: .7;
}
.moneyList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: #fff;
}
.moneyList > dt {
  width: 50%;
  height: 60px;
  padding-right: 50px;
  font-size: 22px;
  line-height: 60px;
  text-align: right;
}
.moneyList > dd {
  width: 50%;
  height: 60px;
  padding-left: 30px;
  font-size: 22px;
  line-height: 60px;
  text-align: left;
}
.moneyList > dd:nth-of-type(1) {
  color: #6eb7db;
}
.moneyList > dd:nth-of-type(2) {
  color: #df81a2;
}
.earnList {
  margin-bottom: 50px;
  border: 1px solid #bfbfbf;
  border-bottom: none;
  background-color: #fff;
}
.earnList > h2 {
  padding: 10px 0;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #fff;
  border-bottom: 1px solid #bfbfbf;
  background-color: #6eb7db;
}
.paymentList > h2 {
  padding: 10px 0;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #fff;
  border-bottom: 1px solid #bfbfbf;
  background-color: #df81a2;
}
.paymentList {
  background-color: #fff;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #bfbfbf;
  border-top: none;
}
th {
  padding: 10px 0;
}
th {
  width: 20%;
  font-size: 20px;
}
th:nth-of-type(1),
td:nth-of-type(1) {
  border-left: none;
}
th:nth-of-type(5),
td:nth-of-type(5) {
  width: 15%;
  border-right: none;
}
th:nth-of-type(5) {
  background-color: #f3f3f3;
}
td > button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
}
.earnList td > button {
  color: #fff;
  background-color: #6eb7db;
}
.earnList td > button:hover {
  opacity: .7;
}
.paymentList td > button {
  color: #fff;
  background-color: #df81a2;
}
.paymentList td > button:hover {
  opacity: .7;
}

.report {
  padding: 0 10px;
  border: 1px solid #bfbfbf;
  border-top: none;
  background-color: #fff;
}
.report > form {
  display: inline-block;
  margin: 10px auto 50px;
}
.report input,
.report label {
  margin-right: 16px;
  padding: 10px 0;
  font-size: 22px;
}
.report button {
  width: 200px;
  height: 50px; 
  font-size: 22px;
  color: #fff;
  background-color: #eda184;
}
.report button:hover {
  background-color: #d39278;
}
.report > .title {
  display: flex;
}
.report > .title > h2 {
  width: 50%;
}
.report > .item {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.report > .item > div {
  width: calc((100% - 40px) / 2);
  text-align: center;
}
.report > .item > div > dl {
  display: flex;
  width: 250px;
  margin: 0 auto;
  border: 1px solid #bfbfbf;
}
.report > .item > div > dl > dt {
  width: 50%;
  padding: 8px 0 4px;
  font-weight: bold;
}
.report > .item > div:nth-of-type(1) dt{
  background-color: #6eb7db;
}
.report > .item > div:nth-of-type(2) dt{
  background-color: #df81a2;
}
.report > .item > div > dl > dd {
  width: 50%;
  padding: 8px 0 4px;
}
.report > .report-txt {
  display: flex;
  gap: 40px;       
}
.report > .report-txt > table {
  width: calc((100% - 40px) / 2);
  margin-bottom: 100px;
  border: 1px solid #bfbfbf;
}
.report > .report-txt > table:nth-of-type(1) th {
  background-color: #6eb7db;
}
.report > .report-txt > table:nth-of-type(2) th {
  background-color: #df81a2;
}
.data {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.data > div {
  width: calc((100% - 40px) / 2);
  height: auto;
}

@media(max-width: 767px) {
  .report label {
    font-size: 18px;
  }
  .report > .title > h2 {
    font-size: 18px;
  }
  .report > .item {
    gap: 20px;
    font-size: 14px;
  }
  .report > .item > div {
    width: calc((100% - 20px) / 2);
  }
  .report > .item > div > dl {
    width: 100%;
  }
  .report > .report-txt {
    display: block;
  }
  .report > .report-txt > table {
    width: 100%;
    margin-bottom: 50px;
  }
  .data {
    gap: 20px;
  }
  .data > div {
    width: calc((100% - 20px) / 2);
    height: 400px; 
    font-size: 14px;
  }
}